# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env*.local

# Testing
coverage
.nyc_output

# Turbo
.turbo
.nx

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
*.tgz
.cache
tmp
temp
